* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --corPrin: #ead7bfc5;
    --corSec: #593128;
}

body {
    background-color: #f2f1f0;
}

/* HEADER */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
    background-color: white;

}

header a {
    color: #617355;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: .3s;
}

header a:hover {
    opacity: .8;
    transform: scale(1.1);
}

.right-header {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.right-header button {
    width: 8em;
    height: 2.5em;
    cursor: pointer;
    border: 0;
    background-color: #593128;
    border-radius: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* MAIN */

.logo img {
    width: 5em;
    margin-left: 1em;
}

.container {
    height: 60dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    border-radius: 1em;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--corPrin);
    padding: 3em;
}

.box h2 {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 70%;
}

.email,
.senha {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    margin-top: .5em;
}

.email i,
.senha i {
    padding: .5em;
    font-size: 1.2em;
}

.email input,
.senha input {
    width: 100%;
    display: flex;
    align-items: center;
    border: 0;
    height: 3em;
    border-radius: 1em;
}

.email input:focus,
.senha input:focus {
    outline: 0;
}

.box button {
    padding: 1em;
    color: white;
    border: 0;
    border-radius: 1em;
    width: 70%;
    background-color: var(--corSec);
    cursor: pointer;
    transition: 0.3s;
}

.box button:hover {
    background-color: #794637;
    transform: scale(1.02);
}

.box p a:hover {
    text-decoration: underline;
}

.emailMaior p,
.senhaMaior p,
h2 {
    color: #593128;
    font-weight: bold;
}

p a {
    color: #593128;
    text-decoration: none;
    font-weight: bold;
}