* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --corPrin: #ead7bfc5;
    --corSec: #593128;
}

body {
    background-color: #f2f1f0;
}

div.container2 {
    height: 70dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-group input {
    border-radius: 1em;
    padding: 1.2em;
    border: 0;
    outline: 0;
    background-color: #f0f0f0d2;
    width: 21em;
}

.input-group input:focus {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.content {
    height: 100%;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    transition: .3s;
    flex-wrap: wrap;
}

.content:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px #593128;
}

.content:nth-child(2) {
    padding: 2em;
    align-items: center;
    flex-direction: column;
    max-width: 45em;

}

.content:nth-child(2) .resumo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45%;
    flex-wrap: wrap;
}

.box-menor-resumo {
    width: 18em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 10px #593128;
    border-radius: .5em;
}

.contas p,
#div_mensagem {
    text-align: justify;
}

#boxAlerta {
    position: absolute;
    top: 18%;
    right: 5%;
    background-color: rgba(255, 0, 0, 0.462);
    padding: 1em;
    transition: .3s;
    opacity: 0;
    border-radius: .5em;
}

.contas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45em;
    height: 40em;
    background-color: white;
    padding: 1em;
    border-radius: .5em;
}

#caixa-maior-extras {
    width: 100%;
    margin-top: 1em;
}

#div_mensagem {
    display: flex;
    width: 35em;
    height: 12em;
    background-color: #f0f0f0d2;
    padding: 1em;
    border-radius: 1em;
}

#div_mensagem span:nth-child(1) {
    color: #c8860a;
    font-weight: bold;
    font-size: 1.2em;
}

.caixa-maior {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 30em;
}

.caixa-menor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6em;
    justify-content: space-between;
    width: 21em;

}

.caixa-menor p {
    font-size: 1.2em;
}

.contas h2 {
    color: #c8860a;
}

.cad-botao-resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 5em;
    width: 90%;
}

.cad-botao-resposta button {
    width: 100%;
    height: 3em;
    border-radius: 2em;
    outline: 0;
    border: 0;
    background-color: #6B3A2E;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
}

.cad-botao-resposta button:hover {
    box-shadow: 2px 3px 10px #6B3A2E;
    transform: scale(1.01);
}

.cad-botao-resposta button span {
    margin-left: 1em;
}

#mensagem .boxMsg1,
#mensagem .boxMsg2,
#mensagem .boxMsg3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 3em;
}

h6#resp1,
h6#resp2,
h6#resp3 {
    color: rgb(192, 192, 192);
    font-size: 1.4em;
}