body {
  background-color: #fffffa;
  font-family: 'Lora', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.background-viglat {
  background-color: #fffffa;
}

.btn-gradiente {
  padding: 10px 25px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #7a5208;
  border-radius: 25px;
}

.container {
  max-width: 1440px;
  padding: 0 2%;
  margin: 0 auto;
}

.logo img {
  width: 160px;
  height: 160px;
  display: block;
}

/* Classes do site */

nav a {
  display: inline-block;
  color: #3b1f02;
  font-size: 18px;
  transition: .3s;
}

nav a:hover {
  transform: scale(.95);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2%;
  margin: -20px;
}

.ul {
  display: flex;
  align-items: center;
}


/* espaçamento do list itens */
.ul li {
  margin: 0 15px;
  font-size: 20px;
}

/* main */

main .container {
  display: flex;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-text h1 {
  color: white;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 15px;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 600px;
}

.main-text p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  margin-top: 12px;
  line-height: 1.6;
}

.destaque {
  color: #c8860a;
  font-weight: 700;
}

/* section diferenciais */


.textosolucao {
  padding: 30px 0px;
  text-align: center;
  }

  .textosolucao h1 {
  padding: 15px;
  }

.diferenciais .container{
  display: flex;
  justify-content: space-between; /* Distancia entre os Cards */
  margin: 30px auto;

}

.diferenciais .card{
  width: 30%;
  cursor: pointer;
  padding: 30px;
  border-radius: 15px;  
  transition: 0.3s;
      border-style: solid;
    border-width: 2px;
    border-color: #c8860a;
    
}

.diferenciais .card:hover{
  box-shadow: 0px 10px 67px 8px #fff9e3;
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  background-color: #df9225b6;
}


.diferenciais .card img {
  width: 60px;
}

.diferenciais .card .titulo{
  margin: 13px 0;
  font-weight: 600px;
}

.comoFunciona .container {
  margin-top: 100px;
  display: flex;
align-items: center;
}

.comoFunciona .funcionamento-img {
  width: 50%;
}

.comoFunciona .funcionamento-img img {
  width: 100%;
  border-radius: 10px;
}

.comoFunciona .texto-casa {
  width: 50%;
  padding-left: 80px;
}

.comoFunciona .texto-casa h2{
font-size: 2.0em;
color: #3b1f02;
}

.comoFunciona .texto-casa p{
  margin: 20px 0px;
  color: #3b1f02
}

.contato {
  margin-top: 100px;
  border-top: 2px solid #3b1f02;
}


footer {
  background-color: #3b1f02;
  padding: 30px 20px;
  text-align: center;
}

footer .container{
 display: flex;
  flex-direction: column;
  align-items: center;
}

.redes-sociais {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.redes-sociais li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #c8860a;
  border-radius: 50%;
  color: #c8860a;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.redes-sociais li a:hover {
  background-color: #c8860a;
  color: white;
}

/* Miguel */
  h2 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #3b1f02;
    text-align: center;
  }

 .contato-form {
    max-width: 600px;
    margin: auto;
    text-align: left;
  }
  
  .contato-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #3b1f02;
  }
  
  .contato-form input,
  .contato-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3b1f02;
    border-radius: 4px;
   resize: none;
  }
  
  .contato-form button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    background: #3b1f02;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  input:focus {
    border: 2px solid #c8860a;
    box-shadow: 0 0 5px 2px #c8860a;
    outline: none;
  }

  textarea:focus{
      border: 2px solid #c8860a;
      box-shadow: 0 0 5px 2px #c8860a;
      outline: none;
  }

  .texto-casa {
    text-align: center;
  }

  h4 {
  padding: 10px;
  
  }

  .comoFunciona .container .funcionamento-img img {
    width: 700px;
    height: 600px;
    object-fit: cover;
  }
/* Miguel */

.footer-nav {
  margin-bottom: 20px;  
  padding: 20px;
}

.footer-nav a {
  color: #c8860a;
  text-decoration: none;
  margin: 0 15px;
  font-size: 15px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

footer hr {
  border: none;
  border-top: 1px solid #c8860a;
  margin: 0 auto 15px auto;
  width: 90%;
}
.copyright {
  color: #c8860a;
  font-size: 14px;
  margin: 0;
}


