body{
background-color: #fffffa;
font-family: 'Lora', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.background-viglat{
    background-color: #fffffa;
}

.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

/* Classes do site */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:
}

.ul{
    display: flex;
    align-items: center;
}


/* espaçamento do list itens */
.ul li{
    margin: 0 15px; 
    font-size: 20px;
    
}
