#iconeBobIA {
    position: absolute;
    bottom: 5%;
    right: 2%;
    background-color: aliceblue;
    border-radius: 50%;
    z-index: 2;
    transition: .3s;
}

#iconeBobIA img {
    border-radius: 50%;
    pointer-events: all;
}

#iconeBobIA:hover,.pergunta i:hover {
    transform: scale(1.1);
}

#container {
    background-color: aliceblue;
    display: none;
    align-items: center;
    width: 20em;
    height: 30em;
    padding: 1em;
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 1;
    border-radius: .5em;
    border: 1px solid black;
    justify-content: center;
}

#box-container {
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container h1 {
    font-size: 1.2em;
    text-align: center;
}

.resposta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
}

.pergunta {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: white;
    border-radius: .5em;
    padding: 1em;
    border: 1px solid black;
}

.pergunta i {
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: 1em;
    transition: .3s;
}

textarea {
    resize: none;
    min-height: 3em;
    width: 100%;
    border: 0;
    outline: 0;
}

#resposta {
    max-height: 10em;
    overflow-y: scroll;
    text-align: justify;
}